<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/stylesheets/about.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Khand:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="">
        <div class="">
            <ul class="header header-frame ">
                <li class="header-text header-item"><a href="/">HOME</a></li>
                <li class="header-text header-item">/</li>

                <li class="header-text header-item"><a href="/sobre">SOBRE</a></li>
                <li class="header-text header-item">/</li>

                <li class="header-text header-item"><a href="/projetos">PROJETOS</a></li>
                <li class="header-text header-item">/</li>

                <li class="header-text header-item"><a href="/links">LINK</a></li>
                <li class="header-text header-item">/</li>

                <li class="header-text header-item"><a href="/contato">CONTATO</a></li>
            </ul>
        </div>
    </header>
    <div class="text-box">
        <h1>SOBRE</h1>
        <div class="white-line"></div>
        <div class="text">Sou um programador full stack jr. Estou em São Paulo-SP e tenho disponibilidade para trabalhos remotos ou em diferentes cidades.</div>
           <br />
        <div class="text">Tenho experiência em: JS, Node, Express, React, Api, MYSQL, Mongodb, Git, HTML+CSS, alguns exemplos estão no meu portfolio e no meu Github.</div>
           <br />
        <div>Antes de virar programador era um empresário organizando eventos e cursos de desenvolvimento humano.</div>
    </div>
</body>
</html>