<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Khand:wght@600&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <div class="">
        <div class="container ">
          <div class="content">
            <div class="box"><h1 class="title"><a href="/sobre">RODOLFO SANTANA</a></h1>
              <div class="subtitle-box">
                <p class="subtitle"><a href="/sobre">Programador Full Stack</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </main>
  </body>
</html>
