<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Khand:wght@600&display=swap" rel="stylesheet">
  </head>
  <body>
  <div class="container">
    <div class="main">

      <div class="box"><h1 class="title">RODOLFO SANTANA</h1></div>
      <div class="subtitle-box">
        <p class="subtitle">Programador Full Stack</p>
      </div>
    </div>
  </div>
  </body>
</html>
