.container {
  display: grid;
  grid-template-columns: 150px 500px auto auto;
  grid-template-rows: 150px 200px auto;
}


.main {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

h1 {
  margin-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.box {
  height: 180px;
}

.title {
  font: 180px 'Khand', sans-serif  ;

  color: #ffffff;
}


body {
  padding: 40px 20px;
  font-family: "Aleo", serif;
  font-size: 34px;
  font-weight: bold;  
  background-image: url("../images/index.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  color: #00B7FF;
}

.subtitle-box {
  background-color: #ffa46b;
  width: 1185px;
  color: #ffffff;
}

.subtitle {
  margin-left: 20px;
  padding: 30px 30px;
  padding-left: 5px;
}